/*body, html {
	font-family: Trebuchet MS;
}

.pokeslot {
	height:100%;
	width:100%;
	border: 1px white solid;
	padding-top:20px;
	font-size: 12px;
}

.pokebox {
	height:100px;
	padding:10px;
	border: 1px white solid;
}

#pokemonSearch {
	width:40%;
}

.submit-button {
	margin-left:-40px;
	width:130px;
}

ul {
	width:20px !important;
	margin-top:20px !important; 
}*/