<!DOCTYPE html>
<html>

<head>
	<title>My Title</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cover.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>

<body>
<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover" style="font-family:Lucida Console">
            <h1 class="cover-heading">Welcome to Pokebble!</h1>
            <p class="lead">Input your trainer ID below.</p>
            <p class="lead">
              	<form role="form">
              		<input type="gameID" class="form-control" id="gameID" placeholder="Unique ID" style="width:40%; margin:auto;">
                    <a href="#" class="btn btn-lg btn-default">Submit</a>
				</form>			
            </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>